openapi: 3.1.0
info:
  title: Insights API
  version: 3.4.1
  contact:
    name: Insights Team
    email: support_b2b@eliq.com
  description: "# API Reference\n\nThe Eliq insights API is organized around [REST](https://en.wikipedia.org/wiki/REST).\n\
    API has predictable resource oriented URLs, accepts [JSON-encoded](https://www.json.org/json-en.html) request bodies,\
    \ returns JSON-encoded responses, and uses standard HTTP response codes and verbs.\nInsights API contains endpoints for\
    \ two entities: Users and Locations.\n\n# Date and Time\n\nDates and Datetimes follow [ISO 8601](https://en.m.wikipedia.org/wiki/ISO_8601)\
    \ format.\nAll dates and times are in `local time zone` - no UTC or other timezone specification is allowed for the queries\
    \ and will result in error. Local timezone was chosen to make the data ready for presentation.\n\n# Responses and Errors\n\
    \nEliq insights API uses standard HTTP response codes to indicate success or failure of a request:\n- 2xx indicate success\n\
    - 4xx indicate error due to invalid input\n- 5xx indicates an internal error of Eliq Insights API\n\n## Status codes\n\
    \n*Status code* | *Description*\n--- | ---\n200 - OK | Everything worked as expected.\n201 - Created | Resource created.\n\
    204 - No Content | Successful request. Used in successful delete requests\n302 - Found | Resource requested has been temporarily\
    \ moved to the URL given by the Location header.\n400 - Bad Request | Request input data is invalid. \n401 - Unauthorized\
    \ | Access token invalid for the given request. E.g. access token expired.\n404 - Not Found | Requested resource not found.\n\
    500, 502, 503, 504 | Something wrong with the Insights API.\n\n## Error body\n\nEliq Insights API returns an error response\
    \ body on failures to provide additional information on the error.\n\nSome fields have been deprecated. Deprecated fields\
    \ will continue to be used in existing endpoints, but will not show up in any new additions.\n\n| *Field* | *Type* | *Deprecated*\
    \ | *Description* |\n| --- | --- | --- | --- |\n| type | String | Yes | Type of error. One of `third_party_error`, `internal_error`,\
    \ `client_error` and `end_user_error`. |\n| category | String | Yes | Category of the error. E.g. `invalid_parameter`.\
    \ Used to guide developers. |\n| code | String |  | Error code specific to each issue. |\n| description | String |  |\
    \ A description of the error for more context and easier debugging.|\n| message | String | Yes | A message related to\
    \ the error which can be shown to end users. |\n| transaction_id | String |  | Transaction identifier with which request\
    \ is associated. Pass this when contacting support |\n\nExample:\n\n```json\n  { \n    \"type\":\"client_error\",\n  \
    \  \"category\":\"invalid_parameter\",\n    \"code\":\"MISSING_TO\",\n    \"description\":\"Invalid parameter 'to'. Cannot\
    \ be null\",\n    \"message\":\"Something went wrong, please try again later. If problem remains, please contact support\
    \ (error: 1ad3a534117d4).\",\n    \"transaction_id\":\"1ad3a534117d4\",\n  }\n```"
servers:
- url: https://eliq.insights-api.eliq.com
  description: 'Production (tenant-prefixed host; your own base URL is issued by Eliq — form: https://{tenant}.insights-api.eliq.com)'
paths:
  /v3/users/{userId}:
    parameters:
    - schema:
        type: integer
      name: userId
      in: path
      required: true
      description: Eliq internal id of user
    get:
      summary: Get user by Eliq internal ID
      tags:
      - Users
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                John Doe:
                  value:
                    id: 1234
                    ext_ref: aec78361-f5b6-44cc-b9e6-935bd5053592
                    name: John
                    phone: '+46731234123'
                    email: john.doe@email.com
                    language_code: en-GB
        '404':
          description: 'User Not Found


            This error is thrown if no user with the given id could not be found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                User not found:
                  value:
                    type: client_error
                    category: invalid_parameter
                    code: USER_NOT_FOUND
                    description: Could not find user with Id '123'
                    message: 'Something went wrong, please try again later. If problem remains, please contact support (error:
                      1ad3a534117d4).'
                    transaction_id: 37c4ef86-d525-42c8-b65f-9b4cfcce0df6
      operationId: get-v3-users-userId
      description: Retrieve the information of the user with the matching user ID.
  /v3/users/{userId}/consents:
    parameters:
    - schema:
        type: integer
      name: userId
      in: path
      required: true
      description: Eliq internal id of user
    get:
      summary: Get User Consents
      tags:
      - Users
      responses:
        '200':
          description: Get list of user consents
          content:
            application/json:
              schema:
                x-examples:
                  example-1:
                  - version_id: 2f321e42-c1fe-4abf-8f16-44dcce756943
                    name: privacy_policy
                    given_consent: true
                    language_code: en-GB
                type: array
                items:
                  $ref: '#/components/schemas/Consent'
              examples:
                List of consents:
                  value:
                  - version_id: f5bba2be-cf4f-4f7e-8237-7476025da0ff
                    name: terms_and_conditions
                    given_consent: false
                    is_updated: true
                    is_mandatory: true
                    timestamp: '2022-06-28T13:54:43.369558Z'
                    language_code: en-GB
                    data:
                      url: https://your-website-url.com/terms-and-conditions
                  - version_id: 43cceb46-e598-43c1-8f25-d6d30b765d9a
                    name: privacy_policy
                    given_consent: true
                    is_updated: false
                    is_mandatory: true
                    timestamp: '2022-06-25T10:11:30.2211223Z'
                    language_code: en-GB
                    data:
                      url: https://your-website-url.com/privacy_policy
        '404':
          description: 'User Not Found


            This error is thrown if no user with the given id could not be found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                User not found:
                  value:
                    type: client_error
                    category: invalid_parameter
                    code: USER_NOT_FOUND
                    description: Could not find user with Id '123'
                    message: 'Something went wrong, please try again later. If problem remains, please contact support (error:
                      1ad3a534117d4).'
                    transaction_id: 37c4ef86-d525-42c8-b65f-9b4cfcce0df6
      operationId: get-v3-users-userId-consents
      description: Retrieve the list of the user consents.
    put:
      summary: Update User Consents
      operationId: put-v3-users-userId-consents
      responses:
        '200':
          description: OK
      description: Update single or multiple consents for a user.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              x-examples:
                example-1:
                - version_id: 2f321e42-c1fe-4abf-8f16-44dcce756943
                  name: privacy_policy
                  given_consent: true
                  language_code: en-GB
              items:
                type: object
                properties:
                  version_id:
                    type: string
                  name:
                    type: string
                  given_consent:
                    type: boolean
                  language_code:
                    type: string
                required:
                - version_id
                - name
                - given_consent
                - language_code
      tags:
      - Users
  /v3/users:
    parameters: []
    get:
      summary: Get user by Eliq external reference
      tags:
      - Users
      responses:
        '200':
          description: User Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                John Doe:
                  value:
                    id: 1234
                    ext_ref: aec78361-f5b6-44cc-b9e6-935bd5053592
                    name: John
                    phone: '+46731234123'
                    email: john.doe@email.com
                    language_code: en-GB
        '404':
          description: 'User Not Found


            This error is thrown if no user with the given extref could not be found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                User not found:
                  value:
                    type: client_error
                    category: user_not_found
                    code: USER_NOT_FOUND
                    description: Could not find user with Id '123'
                    message: 'Something went wrong, please try again later. If problem remains, please contact support (error:
                      1ad3a534117d4).'
                    transaction_id: 37c4ef86-d525-42c8-b65f-9b4cfcce0df6
      operationId: get-v3-users-userExtref
      description: Retrieve the information of the user with the matching user external reference (client's id). This request
        should be used to query the API using the ID sent in through Eliq data management API
      parameters:
      - schema:
          type: string
          example: aec78361-f5b6-44cc-b9e6-935bd5053592
        in: query
        name: extref
        description: User external reference
        required: true
  /v3/Users/{userId}/locations:
    get:
      tags:
      - Users
      summary: Get user locations
      description: Retrieve locations attached to the user with the matching user ID.
      operationId: get--v3-users-userId-locations
      parameters:
      - name: userId
        in: path
        description: User's id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
              examples:
                User locations response:
                  value:
                  - id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: ok
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: waiting_for_data
                    meters:
                    - id: e7c8938fe06a44a7923ed89da281705e
                      model: Standard Energy V1
                      user_setup_completed: true
                      name_user: Main house meter
                      fuel_type: elec
                      direction: import
                      is_sub_meter: false
                      category_user: other
                      supply_start_date: '2026-01-01T00:00:00'
                      supply_end_date: '2026-12-31T00:00:00'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                User not found:
                  value:
                    type: client_error
                    category: user_not_found
                    code: USER_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find user with Id '1234567'
                User's Location not found:
                  value:
                    type: client_error
                    category: entity_not_found
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find the location.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Internal Error:
                  value:
                    type: internal_error
                    category: internal_error
                    code: INTERNAL_ERROR
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong. Please try again later. If problem remains, please contact support.
                    description: Internal server error, please try again later. If problem remains, please contact support.
  /v3/locations/{locationId}:
    get:
      tags:
      - Locations
      summary: Get location by internal id
      description: "Get location by Eliq internal ID\r\n            \r\nRetrieve the information of the location with the\
        \ matching location ID."
      operationId: get-v3-locations-locationId
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                Sample Location (with two meters):
                  value:
                    id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                    meters:
                    - id: e01dbb49507f447fa8518249cd7620dd
                      model: Standard Energy V1
                      user_setup_completed: true
                      name_user: Gas Energy Meter
                      fuel_type: gas
                      direction: import
                      is_sub_meter: false
                      category_user: washing
                      supply_start_date: '2026-01-01T00:00:00'
                      supply_end_date: '2026-12-31T00:00:00'
                    - id: e4c8938fe06a44a7923ed89da281705e
                      model: Standard Energy V1
                      user_setup_completed: false
                      name_suggested: Standard Energy V-2
                      fuel_type: elec
                      direction: import
                      is_sub_meter: true
                      category_suggested: washing
                      supply_start_date: '2026-01-01T00:00:00'
                      supply_end_date: '2026-12-31T00:00:00'
                Location with meter setup:
                  value:
                    id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                    meters:
                    - id: e7c8938fe06a44a7923ed89da281705e
                      model: Standard Energy V1
                      user_setup_completed: true
                      name_user: Main house meter
                      fuel_type: elec
                      direction: import
                      is_sub_meter: false
                      category_user: other
                      supply_start_date: '2026-01-01T00:00:00'
                      supply_end_date: '2026-12-31T00:00:00'
                Location without meter setup:
                  value:
                    id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                    meters:
                    - id: e7c8938fe06a44a7923ed89da281705e
                      model: Standard Energy V1
                      user_setup_completed: false
                      name_suggested: Standard Energy V1
                      fuel_type: elec
                      direction: import
                      is_sub_meter: false
                      category_suggested: other
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    type: client_error
                    category: entity_not_found
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong, please try again later. If problem remains, please contact support.
                    description: Could not find the location.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Internal Error:
                  value:
                    type: internal_error
                    category: internal_error
                    code: INTERNAL_ERROR
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong. Please try again later. If problem remains, please contact support.
                    description: Internal server error, please try again later. If problem remains, please contact support.
  /v3/locations:
    get:
      tags:
      - Locations
      summary: Get location by Eliq external reference
      description: Retrieve the information of the location with the matching location external reference id.
      operationId: get-v3-locations-locationExtref
      parameters:
      - name: extRef
        in: query
        description: Location external reference
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                Sample Location (with two meters):
                  value:
                    id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                    meters:
                    - id: e01dbb49507f447fa8518249cd7620dd
                      user_setup_completed: true
                      name_user: Gas Energy Meter
                      fuel_type: gas
                      direction: import
                      is_sub_meter: false
                      category_user: washing
                    - id: e4c8938fe06a44a7923ed89da281705e
                      user_setup_completed: false
                      name_suggested: Standard Energy V-2
                      fuel_type: elec
                      direction: import
                      is_sub_meter: true
                      category_suggested: washing
                Location with meter setup:
                  value:
                    id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                    meters:
                    - id: e7c8938fe06a44a7923ed89da281705e
                      user_setup_completed: true
                      name_user: Main house meter
                      fuel_type: elec
                      direction: import
                      is_sub_meter: false
                      category_user: other
                Location without meter setup:
                  value:
                    id: 1233
                    name: Stora Badhusgatan 17-20
                    ext_ref: '4537899'
                    timezone: Europe/Berlin
                    address:
                      street_address: Stora Badhusgatan 17-20
                      postal_code: '41120'
                      city: Göteborg
                      country_code: SE
                      lon: 22.12
                      lat: 56.32
                    fuels:
                      elec:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        export:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                        consumption:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                        production:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: pv_disagg
                          sync_status: waiting_for_data
                      gas:
                        import:
                          resolution: hour
                          data_from: '2019-01-01T00:00:00'
                          data_to: '2020-01-01T00:00:00'
                          source: smart_meter
                          sync_status: ok
                    meters:
                    - id: e7c8938fe06a44a7923ed89da281705e
                      user_setup_completed: false
                      name_suggested: Standard Energy V1
                      fuel_type: elec
                      direction: import
                      is_sub_meter: false
                      category_suggested: other
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid parameter:
                  value:
                    type: client_error
                    category: invalid_parameter
                    code: INVALID_PARAMETER
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong, please try again later. If problem remains, please contact support.
                    description: Parameter 'extref' missing
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    type: client_error
                    category: entity_not_found
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong, please try again later. If problem remains, please contact support.
                    description: Could not find the location.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Internal Error:
                  value:
                    type: internal_error
                    category: internal_error
                    code: INTERNAL_ERROR
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong. Please try again later. If problem remains, please contact support.
                    description: Internal server error, please try again later. If problem remains, please contact support.
  /v3/locations/{locationId}/notifications:
    parameters:
    - schema:
        type: string
      name: locationId
      in: path
      required: true
    get:
      summary: Get location Notifications
      tags:
      - Locations
      responses:
        '200':
          description: Location found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  schema:
                    $ref: '#/components/schemas/Notification'
                x-examples:
                  example-1:
                  - id: 37117550
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-22T16:01:17.23'
                    header: Tomorrows market electricity prices are high!
                    content: Tomorrow the average market prices are high, averaging 1,66 kr/kWh. The prices peak 2,93 kr/kWh
                      at 09:00-10:00.
                  - id: 37054931
                    type: market_price_next_day_hour_price_alert
                    read: true
                    created_date: '2023-01-21T16:00:39.18'
                    header: Tomorrow the market prices are high!
                    content: Tomorrow you should avoid using excess electricity between 18:00-19:00 when the price is 2,19
                      kr/kWh.
                  - id: 36912603
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-18T16:01:25.223'
                    header: Tomorrows market electricity prices are high!
                    content: Tomorrow the average market prices are high, averaging 1,49 kr/kWh. The prices peak 2,01 kr/kWh
                      at 16:00-17:00.
                  - id: 36831730
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-14T16:01:32.003'
                    header: Low market prices tomorrow
                    content: Tomorrow the average market prices are low, averaging at 0,20 kr/kWh 🙂. The price will be at
                      its lowest 05:00-06:00 at 0,05 kr/kWh.
                  - id: 36770333
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-13T16:00:36.033'
                    header: Low market prices tomorrow
                    content: Tomorrow the average market prices are low, averaging at 0,62 kr/kWh 🙂. The price will be at
                      its lowest 23:00-00:00 at 0,40 kr/kWh.
                  - id: 36169901
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2022-12-31T16:01:46.243'
                    header: Low market prices tomorrow
                    content: Tomorrow the average market prices are low, averaging at 0,20 kr/kWh 🙂. The price will be at
                      its lowest 04:00-05:00 at 0,00 kr/kWh.
                  - id: 36101812
                    type: market_price_next_day_hour_price_alert
                    read: true
                    created_date: '2022-12-30T16:01:46.15'
                    header: Negative electricity prices tomorrow!
                    content: Between 02:00-08:00 tomorrow the market electricity price is below zero!
              examples:
                example-1:
                  value:
                  - id: 37117550
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-22T16:01:17.23'
                    header: Tomorrows market electricity prices are high!
                    content: Tomorrow the average market prices are high, averaging 1,66 kr/kWh. The prices peak 2,93 kr/kWh
                      at 09:00-10:00.
                  - id: 37054931
                    type: market_price_next_day_hour_price_alert
                    read: true
                    created_date: '2023-01-21T16:00:39.18'
                    header: Tomorrow the market prices are high!
                    content: Tomorrow you should avoid using excess electricity between 18:00-19:00 when the price is 2,19
                      kr/kWh.
                  - id: 36912603
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-18T16:01:25.223'
                    header: Tomorrows market electricity prices are high!
                    content: Tomorrow the average market prices are high, averaging 1,49 kr/kWh. The prices peak 2,01 kr/kWh
                      at 16:00-17:00.
                  - id: 36831730
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-14T16:01:32.003'
                    header: Low market prices tomorrow
                    content: Tomorrow the average market prices are low, averaging at 0,20 kr/kWh 🙂. The price will be at
                      its lowest 05:00-06:00 at 0,05 kr/kWh.
                  - id: 36770333
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2023-01-13T16:00:36.033'
                    header: Low market prices tomorrow
                    content: Tomorrow the average market prices are low, averaging at 0,62 kr/kWh 🙂. The price will be at
                      its lowest 23:00-00:00 at 0,40 kr/kWh.
                  - id: 36169901
                    type: market_price_next_day_avg_price_alert
                    read: true
                    created_date: '2022-12-31T16:01:46.243'
                    header: Low market prices tomorrow
                    content: Tomorrow the average market prices are low, averaging at 0,20 kr/kWh 🙂. The price will be at
                      its lowest 04:00-05:00 at 0,00 kr/kWh.
                  - id: 36101812
                    type: market_price_next_day_hour_price_alert
                    read: true
                    created_date: '2022-12-30T16:01:46.15'
                    header: Negative electricity prices tomorrow!
                    content: Between 02:00-08:00 tomorrow the market electricity price is below zero!
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Error not found:
                  value:
                    type: client_error
                    category: entity_not_found
                    code: ENTITY_NOT_FOUND
                    description: Could not find the location.
                    message: 'Something went wrong, please try again later. If problem remains, please contact support (error:
                      1ad3a534117d4).'
                    transaction_id: 37c4ef86-d525-42c8-b65f-9b4cfcce0df6
      operationId: get-v3-locations-notification
      description: Get notifications that has been generated for a location. This can be presented in a feed in an app, or
        used for an admin to check which notifications that have been sent out.
      parameters: []
  /v3/locations/{locationId}/notifications/settings:
    parameters:
    - schema:
        type: string
      name: locationId
      in: path
      required: true
    get:
      summary: Get Location Notifications Settings
      tags:
      - Locations
      responses:
        '200':
          description: Location found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    type_id:
                      type: integer
                    enabled:
                      type: boolean
                    mute_email:
                      type: boolean
                    mute_push:
                      type: boolean
                    mute_text:
                      type: boolean
                x-examples:
                  example-1:
                  - type: meterreading_required
                    type_id: 80
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: bill_created
                    type_id: 82
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: daily_anomaly
                    type_id: 90
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: monthly_report_available
                    type_id: 94
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: budget
                    type_id: 95
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: custom
                    type_id: 104
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: market_price_next_day_avg_price_alert
                    type_id: 105
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: market_price_next_day_hour_price_alert
                    type_id: 106
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
              examples:
                example-1:
                  value:
                  - type: meterreading_required
                    type_id: 80
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: bill_created
                    type_id: 82
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: daily_anomaly
                    type_id: 90
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: monthly_report_available
                    type_id: 94
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: budget
                    type_id: 95
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: custom
                    type_id: 104
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: market_price_next_day_avg_price_alert
                    type_id: 105
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
                  - type: market_price_next_day_hour_price_alert
                    type_id: 106
                    enabled: true
                    mute_email: true
                    mute_push: false
                    mute_text: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Error not found:
                  value:
                    type: client_error
                    category: entity_not_found
                    code: ENTITY_NOT_FOUND
                    description: Could not find the location.
                    message: 'Something went wrong, please try again later. If problem remains, please contact support (error:
                      1ad3a534117d4).'
                    transaction_id: 37c4ef86-d525-42c8-b65f-9b4cfcce0df6
      operationId: get-v3-locations-notification-settings
      description: Get notifications settings for a location.
      parameters: []
  /v3/locations/{locationId}/notifications/settings/{notificationTypeId}:
    put:
      tags:
      - Locations
      summary: Update notification settings per location.
      description: "Can be used to enable/disable the notification and configure delivery channels.\r\n            \r\nAn\
        \ important note is that the notification is sent via all configured channels.\r\nI.E. if none of the channels (email,\
        \ text, push, webhook) are muted, ALL of them will be used in order to deliver the notification."
      operationId: put-v3-locations-locationId-notifications-settings
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      - name: notificationTypeId
        in: path
        description: Notification id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationNotificationSettingsInput'
          application/json:
            schema:
              $ref: '#/components/schemas/LocationNotificationSettingsInput'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationNotificationSettingsInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationNotificationSettingsInput'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettingsResponse'
              examples:
                Notification update successful:
                  value:
                    notification_name: daily_anomaly
                    notification_type_id: 90
                    send_event_notification: false
                    send_email: true
                    send_push: true
                    send_text: false
                    send_webhook: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Input not provided:
                  value:
                    code: invalid_parameter
                    transaction_id: 0HN1O72JU5P3C:00000001
                    description: '''input'' cannot be null'
                Notification type id not provided:
                  value:
                    code: invalid_parameter
                    transaction_id: 0HN1O72JU5P3C:00000001
                    description: '''notificationTypeId'' not provided'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    code: LOCATION_NOT_FOUND
                    transaction_id: 0HN1O72JU5P3C:00000001
                    description: Location not found
                Location owner not found:
                  value:
                    code: LOCATION_OWNER_NOT_FOUND
                    transaction_id: 0HN1O72JU5P3C:00000001
                    description: Location owner not found
                Notification settings not found:
                  value:
                    code: NOTIFICATION_SETTINGS_NOT_FOUND
                    transaction_id: 0HN1O72JU5P3C:00000001
                    description: Notification settings not found
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Internal Error:
                  value:
                    type: internal_error
                    category: internal_error
                    code: INTERNAL_ERROR
                    transaction_id: 0HN18NIB8K5RV:00000001
                    message: Something went wrong. Please try again later. If problem remains, please contact support.
                    description: Internal server error, please try again later. If problem remains, please contact support.
  /v3/locations/{locationId}/profile/type:
    get:
      tags:
      - Location Profile
      summary: Get location profile type
      description: Get the profile type for the location.
      operationId: get-v3-location-profile-type
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationProfileType'
              examples:
                Residential type:
                  value:
                    type: residential
                Business type:
                  value:
                    type: business
                Type undefined:
                  value:
                    type: undefined
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find the location.
    post:
      tags:
      - Location Profile
      summary: Set location profile type
      description: "Before setting the location profile type, ensure the client location profile configuration is set.\r\n\
        - <b>Business configuration</b> is required to set <b>business</b> location types.\r\n- <b>Residential configuration</b>\
        \ is required to set <b>residential</b> location types.\r\n            \r\n<br><b>Note:</b> Locations that previously\
        \ used the Home profile feature are automatically assigned the <b>Residential</b> profile type.\r\nYou do <b>not</b>\
        \ need to set the profile type for those locations. Only <b>newly created locations that did not use the Home profile\
        \ feature</b> require a profile type to be set.\r\n"
      operationId: post-v3-location-profile-type
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Profile type
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationProfileType'
            examples:
              Residential type:
                value:
                  type: residential
              Business type:
                value:
                  type: business
          application/json:
            schema:
              $ref: '#/components/schemas/LocationProfileType'
            examples:
              Residential type:
                value:
                  type: residential
              Business type:
                value:
                  type: business
          text/json:
            schema:
              $ref: '#/components/schemas/LocationProfileType'
            examples:
              Residential type:
                value:
                  type: residential
              Business type:
                value:
                  type: business
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationProfileType'
            examples:
              Residential type:
                value:
                  type: residential
              Business type:
                value:
                  type: business
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationProfileType'
              examples:
                Residential type:
                  value:
                    type: residential
                Business type:
                  value:
                    type: business
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Change not allowed:
                  value:
                    code: EXISTING_PROFILE_VALUES_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Can not change profile type for a configured profile with existing values
                Profile settings not configured:
                  value:
                    code: PROFILE_CONFIGURATION_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Profile settings not configured
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find the location.
  /v3/locations/{locationId}/profile:
    get:
      tags:
      - Location Profile
      summary: Get location profile
      description: This includes all available profile options and any selected values for the location.
      operationId: get-v3-location-profile
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationProfileSettings'
              examples:
                Location profile:
                  value:
                    settings:
                    - key: house_type
                      data_type: single_select
                      possible_values:
                      - value: apartment
                        developer_description: Apartment
                      - value: house_detached
                        developer_description: House - detached
                      - value: holiday_home
                        developer_description: Holiday home / summer house
                      - value: semi_detached
                        developer_description: House - semi detached
                      - value: townhouse
                        developer_description: House - townhouse
                      - value: other
                        developer_description: Other
                      dependent_properties: []
                      developer_description: Type of dwelling
                      tags:
                      - required_for_euc_to_work
                      - required_for_sh_to_work
                      group: ''
                    - key: living_area
                      data_type: number
                      limits:
                        min: 0
                        max: 800
                        step: 1
                      dependent_properties: []
                      developer_description: Size of heated living space in square meters
                      tags:
                      - required_for_sh_to_work
                      group: ''
                    - key: persons
                      data_type: number
                      limits:
                        min: 0
                        max: 10
                        step: 1
                      dependent_properties: []
                      developer_description: Number of people living in the home
                      group: ''
                    - key: heating_type_primary
                      data_type: single_select
                      possible_values:
                      - value: district_heating
                        developer_description: District heating
                      - value: radiators
                        developer_description: Electric radiators
                      - value: air_air_pump
                        developer_description: Air-air heat pump
                      - value: air_water_pump
                        developer_description: Air-water heat pump
                      - value: water_pan
                        developer_description: Electric boiler
                      - value: mountain_sea_earth
                        developer_description: Ground source heat pump
                      - value: exhaust_air_heat_pump
                        developer_description: Exhaust air heat pump
                      - value: other
                        developer_description: Other
                      dependent_properties:
                      - key: house_type
                        accepted_values:
                        - house_detached
                        - townhouse
                        - semi_detached
                        - holiday_home
                        - other
                      developer_description: Primary way of heating the location
                      tags:
                      - required_for_sh_to_work
                      group: ''
                    - key: heating_type_other
                      data_type: multiple_select
                      possible_values:
                      - value: district_heating
                        developer_description: District heating
                      - value: radiators
                        developer_description: Electric radiators
                      - value: air_air_pump
                        developer_description: Air-air heat pump
                      - value: air_water_pump
                        developer_description: Air-water heat pump
                      - value: water_pan
                        developer_description: Electric boiler
                      - value: mountain_sea_earth
                        developer_description: Ground source heat pump
                      - value: exhaust_air_heat_pump
                        developer_description: Exhaust air heat pump
                      - value: floor_heat
                        developer_description: Electric floor heat
                      - value: other
                        developer_description: Other
                      dependent_properties:
                      - key: house_type
                        accepted_values:
                        - house_detached
                        - townhouse
                        - semi_detached
                        - holiday_home
                        - other
                      developer_description: Non-primary ways of heating the location
                      group: ''
                    - key: hotwater_type
                      data_type: single_select
                      possible_values:
                      - value: hot_water_tank
                        developer_description: Storage water heater
                      - value: air_air_pump
                        developer_description: Air-air heat pump
                      - value: air_water_pump
                        developer_description: Air-water heat pump
                      - value: mountain_sea_earth
                        developer_description: Ground source heat pump
                      - value: exhaust_air_heat_pump
                        developer_description: Exhaust air heat pump
                      - value: district_heating
                        developer_description: District heating
                      - value: other
                        developer_description: Other
                      dependent_properties: []
                      developer_description: Primary way of heating water
                      group: ''
                    - key: gas_stoves
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of gas hobs
                      group: cooking
                    - key: gas_ovens
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of gas ovens
                      group: cooking
                    - key: electric_stoves
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of electric hobs
                      group: cooking
                    - key: electric_ovens
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of electric ovens
                      group: cooking
                    - key: microwaves
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of microwaves
                      group: cooking
                    - key: dishwashers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of dishwashers
                      group: appliances
                    - key: washing_machines
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of washing machines
                      group: appliances
                    - key: dryers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of electric dryers
                      group: appliances
                    - key: tv
                      data_type: number
                      limits:
                        min: 0
                        max: 10
                        step: 1
                      dependent_properties: []
                      developer_description: Number of TVs
                      group: appliances
                    - key: game_consoles
                      data_type: number
                      limits:
                        min: 0
                        max: 10
                        step: 1
                      dependent_properties: []
                      developer_description: Number of game consoles
                      group: ''
                    - key: laptops
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of laptops
                      group: ''
                    - key: stationary_computers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of desktop/stationary computers
                      group: ''
                    - key: fridges
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of fridges
                      group: fridges_and_freezers
                    - key: freezers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of freezers
                      group: fridges_and_freezers
                    - key: fridge_freezers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of combined fridge-freezer units
                      group: fridges_and_freezers
                    - key: solar_installed
                      data_type: number
                      limits:
                        min: 0
                        max: 50
                        step: 1
                      dependent_properties: []
                      developer_description: Photovoltaic panels (kW)
                      group: ''
                    - key: electric_cars
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of EVs that are charged at the location
                      group: ''
                    - key: swimming_pool
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of swimming pools (where electricity is used in the heating of the water)
                      group: ''
                    groups:
                    - fridges_and_freezers
                    - appliances
                    - cooking
                Location profile with selected values:
                  value:
                    settings:
                    - key: house_type
                      data_type: single_select
                      selected_values:
                      - id: 023fd646-b383-ee11-8925-000d3a2e6931
                        value: semi_detached
                      possible_values:
                      - value: apartment
                        developer_description: Apartment
                      - value: house_detached
                        developer_description: House - detached
                      - value: holiday_home
                        developer_description: Holiday home / summer house
                      - value: semi_detached
                        developer_description: House - semi detached
                      - value: townhouse
                        developer_description: House - townhouse
                      - value: other
                        developer_description: Other
                      dependent_properties: []
                      developer_description: Type of dwelling
                      tags:
                      - required_for_euc_to_work
                      - required_for_sh_to_work
                      group: ''
                    - key: living_area
                      data_type: number
                      selected_values:
                      - id: 053fd646-b383-ee11-8925-000d3a2e6931
                        value: 115
                      limits:
                        min: 0
                        max: 800
                        step: 1
                      dependent_properties: []
                      developer_description: Size of heated living space in square meters
                      tags:
                      - required_for_sh_to_work
                      group: ''
                    - key: persons
                      data_type: number
                      selected_values:
                      - id: a7606e31-454f-ef11-86c3-6045bdf530b7
                        value: 5
                        from: '2024-07-01T00:00:00'
                      - id: da188f27-454f-ef11-86c3-6045bdf530b7
                        value: 4
                        from: '2023-01-10T00:00:00'
                      - id: 103fd646-b383-ee11-8925-000d3a2e6931
                        value: 3
                      limits:
                        min: 0
                        max: 10
                        step: 1
                      dependent_properties: []
                      developer_description: Number of people living in the home
                      group: ''
                    - key: heating_type_primary
                      data_type: single_select
                      selected_values:
                      - id: 19ab5ad4-5f88-ee11-8925-000d3a2e6931
                        value: air_air_pump
                      possible_values:
                      - value: district_heating
                        developer_description: District heating
                      - value: radiators
                        developer_description: Electric radiators
                      - value: air_air_pump
                        developer_description: Air-air heat pump
                      - value: air_water_pump
                        developer_description: Air-water heat pump
                      - value: water_pan
                        developer_description: Electric boiler
                      - value: mountain_sea_earth
                        developer_description: Ground source heat pump
                      - value: exhaust_air_heat_pump
                        developer_description: Exhaust air heat pump
                      - value: other
                        developer_description: Other
                      dependent_properties:
                      - key: house_type
                        accepted_values:
                        - house_detached
                        - townhouse
                        - semi_detached
                        - holiday_home
                        - other
                      developer_description: Primary way of heating the location
                      tags:
                      - required_for_sh_to_work
                      group: ''
                    - key: heating_type_other
                      data_type: multiple_select
                      possible_values:
                      - value: district_heating
                        developer_description: District heating
                      - value: radiators
                        developer_description: Electric radiators
                      - value: air_air_pump
                        developer_description: Air-air heat pump
                      - value: air_water_pump
                        developer_description: Air-water heat pump
                      - value: water_pan
                        developer_description: Electric boiler
                      - value: mountain_sea_earth
                        developer_description: Ground source heat pump
                      - value: exhaust_air_heat_pump
                        developer_description: Exhaust air heat pump
                      - value: floor_heat
                        developer_description: Electric floor heat
                      - value: other
                        developer_description: Other
                      dependent_properties:
                      - key: house_type
                        accepted_values:
                        - house_detached
                        - townhouse
                        - semi_detached
                        - holiday_home
                        - other
                      developer_description: Non-primary ways of heating the location
                      group: ''
                    - key: hotwater_type
                      data_type: single_select
                      possible_values:
                      - value: hot_water_tank
                        developer_description: Storage water heater
                      - value: air_air_pump
                        developer_description: Air-air heat pump
                      - value: air_water_pump
                        developer_description: Air-water heat pump
                      - value: mountain_sea_earth
                        developer_description: Ground source heat pump
                      - value: exhaust_air_heat_pump
                        developer_description: Exhaust air heat pump
                      - value: district_heating
                        developer_description: District heating
                      - value: other
                        developer_description: Other
                      dependent_properties: []
                      developer_description: Primary way of heating water
                      group: ''
                    - key: gas_stoves
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of gas hobs
                      group: cooking
                    - key: gas_ovens
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of gas ovens
                      group: cooking
                    - key: electric_stoves
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of electric hobs
                      group: cooking
                    - key: electric_ovens
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of electric ovens
                      group: cooking
                    - key: microwaves
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of microwaves
                      group: cooking
                    - key: dishwashers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of dishwashers
                      group: appliances
                    - key: washing_machines
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of washing machines
                      group: appliances
                    - key: dryers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of electric dryers
                      group: appliances
                    - key: tv
                      data_type: number
                      limits:
                        min: 0
                        max: 10
                        step: 1
                      dependent_properties: []
                      developer_description: Number of TVs
                      group: ''
                    - key: game_consoles
                      data_type: number
                      limits:
                        min: 0
                        max: 10
                        step: 1
                      dependent_properties: []
                      developer_description: Number of game consoles
                      group: ''
                    - key: laptops
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of laptops
                      group: ''
                    - key: stationary_computers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of desktop/stationary computers
                      group: ''
                    - key: fridges
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of fridges
                      group: fridges_and_freezers
                    - key: freezers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of freezers
                      group: fridges_and_freezers
                    - key: fridge_freezers
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of combined fridge-freezer units
                      group: fridges_and_freezers
                    - key: solar_installed
                      data_type: number
                      limits:
                        min: 0
                        max: 50
                        step: 1
                      dependent_properties: []
                      developer_description: Photovoltaic panels (kW)
                      group: ''
                    - key: electric_cars
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of EVs that are charged at the location
                      group: ''
                    - key: swimming_pool
                      data_type: number
                      limits:
                        min: 0
                        max: 5
                        step: 1
                      dependent_properties: []
                      developer_description: Number of swimming pools (where electricity is used in the heating of the water)
                      group: ''
                    groups:
                    - cooking
                    - appliances
                    - fridges_and_freezers
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find the location.
                Profile settings not configured:
                  value:
                    code: PROFILE_CONFIGURATION_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Profile settings not configured
    post:
      tags:
      - Location Profile
      summary: Add new location profile values
      description: "Used in order to add new historic values to the location profile, specifying how and when it has changed.\r\
        \n\r\nExisting values can be updated via [PATCH location profile's value](#tag/Location-Profile/operation/patch-v3-location-profile-value).\r\
        \n\r\nIf a user's location profile genuinely changed, [POST Add new location profile values](#tag/Location-Profile/operation/set-v3-location-profile-values)\
        \ should be used in order to make full use of the historic location profile feature.\r\n\r\nIt's technically possible\
        \ to omit the historic location profile functionality, use [POST Add new location profile values](#tag/Location-Profile/operation/set-v3-location-profile-values)\
        \ to create the property and [PATCH location profile's value](#tag/Location-Profile/operation/patch-v3-location-profile-value)\
        \ to update it. But we strongly recommend making use of the historic location profile functionality.\r\n         \
        \   \r\nFor example:\r\nA user has entered that he has 2 electric boilers at his location when he actually meant 1.\
        \ This can be corrected using [PATCH location profile's value](#tag/Location-Profile/operation/patch-v3-location-profile-value).\r\
        \nHowever, in the scenario where the user has had a single boiler since 2022-01-01, and decided to purchase a 2nd\
        \ boiler on 2024-01-01, [POST Add new location profile values](#tag/Location-Profile/operation/set-v3-location-profile-values)\
        \ should be used to make use of the historic profile feature."
      operationId: set-v3-location-profile-values
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Values to add
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LocationProfileValueRequest'
            examples:
              Payload:
                value:
                - key: house_type
                  value: apartment
                  from: '2024-09-01T00:00:00'
                - key: living_area
                  value: 450
                  from: '2024-09-01T00:00:00'
                - key: heating_type_other
                  value:
                  - heat_pump
                  - wood_burning
                  from: '2024-01-01T00:00:00'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationProfileValueResponse'
              examples:
                Location profile values result:
                  value:
                  - id: cde1e994-0b03-4a63-99ae-373becd4da3c
                    key: house_type
                    value: apartment
                    from: '2024-09-01T00:00:00'
                  - id: a9b70bd2-113b-4724-8076-5469da03eb15
                    key: living_area
                    value: 450
                    from: '2024-09-01T00:00:00'
                Location profile value (no date):
                  value:
                  - id: 57209a2d-18e9-4e68-8889-59a7d874b497
                    key: house_type
                    value: apartment
                  - id: 237bcf08-7377-4b48-9106-ec061ea7ee60
                    key: heating_type_primary
                    value: district_heating
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Empty input provided:
                  value:
                    code: INVALID_INPUT
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Empty input provided
                Key was not provided:
                  value:
                    code: INVALID_INPUT
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Key was not provided
                Value was not provided:
                  value:
                    code: INVALID_INPUT
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Value was not provided for Key 'heating_type'
                Key mismatch:
                  value:
                    code: KEY_MISSING_FROM_CONFIGURATION
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Key 'ice_makers' does not match any allowed settings
                Key date value already exists:
                  value:
                    code: KEY_DATE_VALUE_ALREADY_EXISTS
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Key 'heating_type' with From 'null' already exists for the location
                Key date values must be unique:
                  value:
                    code: DUPLICATE_KEY_VALUE_PAIRS
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: 'Key date values must be unique for a single location. The following duplicates were found:
                      Key ''persons'' From ''2024-01-01'''
                Unsupported type:
                  value:
                    code: INVALID_INPUT_VALUE_FORMAT
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: 'Unsupported type used for number: System.String'
                Profile type not configured:
                  value:
                    code: PROFILE_TYPE_NOT_CONFIGURED
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Profile type not configured
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find the location.
                Profile settings not configured:
                  value:
                    code: PROFILE_CONFIGURATION_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Profile settings not configured
  /v3/locations/{locationId}/profile/completion:
    get:
      tags:
      - Location Profile
      summary: Get location profile completion percentage
      description: "Returns the percentage of settings which have a value set.\r\nIf 2 out of 20 total settings have a value\
        \ set, the response is 10%, if 10 out of 20 settings are\r\nset, response is 50%, etc."
      operationId: get-v3-location-profile-completion
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationProfileCompletionResponse'
              examples:
                Location profile 10% complete:
                  value:
                    completion_percentage: 10
                Location profile 24% complete:
                  value:
                    completion_percentage: 24
                Location profile 100% complete:
                  value:
                    completion_percentage: 100
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Location not found:
                  value:
                    code: ENTITY_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Could not find the location.
                Profile settings not configured:
                  value:
                    code: PROFILE_CONFIGURATION_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Profile settings not configured
  /v3/locations/{locationId}/profile/{profileValueId}:
    patch:
      tags:
      - Location Profile
      summary: Patch location profile's value
      description: "This endpoint can be used to update a specific location profile's value.\r\n            \r\nWe strongly\
        \ recommend using this endpoint only for correcting mistakes a user has made while entering his location profile and\
        \ using the [POST Add new location profile values](#tag/Location-Profile/operation/set-v3-location-profile-values)\
        \ endpoint in order to create historic change entries of the location profile.\r\n            \r\nFor example:\r\n\
        A user has entered that he has 2 electric boilers at his location when he actually meant 1. This can be corrected\
        \ using [PATCH location profile's value](#tag/Location-Profile/operation/patch-v3-location-profile-value).\r\nIn the\
        \ scenario where the user has had a single boiler since 2022-01-01, and decided to purchase a 2nd boiler on 2024-01-01,\
        \ we recommend using [POST Add new location profile values](#tag/Location-Profile/operation/set-v3-location-profile-values)\
        \ to make use of the historic location profile feature."
      operationId: patch-v3-location-profile-value
      parameters:
      - name: locationId
        in: path
        description: Location id
        required: true
        schema:
          type: integer
          format: int32
      - name: profileValueId
        in: path
        description: Profile value id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: PATCH request model
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchLocationProfileRequestModel'
            examples:
              Payload with string value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: apartment
              Payload with number value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: 4
              Payload with empty value:
                value:
                  from: '2024-01-01T00:00:00'
              Payload with empty from:
                value:
                  value: apartment
              Payload for multi-select properties:
                value:
                  from: '2024-01-01T00:00:00'
                  value:
                  - heat_pump
                  - wood_burning
          application/json:
            schema:
              $ref: '#/components/schemas/PatchLocationProfileRequestModel'
            examples:
              Payload with string value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: apartment
              Payload with number value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: 4
              Payload with empty value:
                value:
                  from: '2024-01-01T00:00:00'
              Payload with empty from:
                value:
                  value: apartment
              Payload for multi-select properties:
                value:
                  from: '2024-01-01T00:00:00'
                  value:
                  - heat_pump
                  - wood_burning
          text/json:
            schema:
              $ref: '#/components/schemas/PatchLocationProfileRequestModel'
            examples:
              Payload with string value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: apartment
              Payload with number value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: 4
              Payload with empty value:
                value:
                  from: '2024-01-01T00:00:00'
              Payload with empty from:
                value:
                  value: apartment
              Payload for multi-select properties:
                value:
                  from: '2024-01-01T00:00:00'
                  value:
                  - heat_pump
                  - wood_burning
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchLocationProfileRequestModel'
            examples:
              Payload with string value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: apartment
              Payload with number value:
                value:
                  from: '2024-01-01T00:00:00'
                  value: 4
              Payload with empty value:
                value:
                  from: '2024-01-01T00:00:00'
              Payload with empty from:
                value:
                  value: apartment
              Payload for multi-select properties:
                value:
                  from: '2024-01-01T00:00:00'
                  value:
                  - heat_pump
                  - wood_burning
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationProfileValueResponse'
              examples:
                Patch location profile value result:
                  value:
                    id: 1332d259-8aef-4566-b8b7-529f47d16ff1
                    key: house_type
                    value: apartment
                    from: '2024-09-01T00:00:00'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Profile value not found for location:
                  value:
                    code: PROFILE_VALUE_NOT_FOUND
                    transaction_id: 0HN18NIB8K5RV:00000001
                    description: Profile value not found for given location and id.
    delete:
[...]
